html, body {
    width: 100%;
    overflow-x: hidden;
    background-color: #f5f5f5; 
} 
.navbar-container-fluid{
    position: relative; 
    width: 100%;
    z-index:10;  
}

.navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0;
    background: #4f4646;
    }


.navbar-brand {
    font-family: 'Oswald', cursive;
    font-size: 3rem;
}

.navbar-dark .navbar-nav .nav-link {
    color:#fff;
    font-family: 'Oswald';
    font-size: 1.2rem;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:#fff;
}

/* This section copied from: https://github.com/Eventyret/simple-parallax/blob/master/css/style.css */

.pimg1, .pimg2, .pimg3, .pimg4{
    position: relative;
    opacity: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* Setting it fixed created parallax */
    background-attachment: fixed;
}

.pimg1{
    background-image:url('../images/sunset-fields.jpg');
    min-height: 100vh;
}

.pimg2{
    background-image:url('../images/sunlit-forest.jpg');
    min-height: 400px;
}

.pimg3{
    background-image:url('../images/ystad-beach.jpg');
    min-height: 400px;
}

.pimg4{
    background-image:url('../images/sofiero.jpg');
    min-height: 400px;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-family: 'oswald'
}

.ptext .border{
    color: #fff;
    padding: 20px;
    background-color: #4f4646;
}
/* End of copied code */

.img-fluid {
    padding-top: 5.1rem;s
}
.callout-container-fluid{
    height: 100vh;
    width: 100%;
    background: url("../images/oresund.jpg") no-repeat center center fixed; 
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Roboto', cursive;
   position: relative;
   }

#enter-link{
    top:75%;
}

.btn{
    border-radius: 0rem;
    border-color: #fff;
}
.btn-danger{
    color:#d8b54d;
}

.btn-danger:hover{
    color:#fff;
}
.col-12 {
    padding: 0px;
}
.container-fluid{
    margin-right: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
    border: 0;
}

.intro-text {
    padding-left: 6rem;
    padding-right: 6rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.main-heading {
    font-family: 'Oswald';
    padding-top: 2rem;
    margin-right: 0rem;
}

.intro-paragraph {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*---------Cards---------*/
.card-deck {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: none;
}
.card {
    width: 28rem;
}

.card-header{
    font-size: 1.25rem;
    background-color: #fff;
    color: #4f4646;
    font-weight: 500;
    line-height: 1.2;
}

.card-img-top {
    height:20rem;
}

.card-text {
    color: #4f4646;
}

#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d8c3a5;
  color: white;
  text-align: center;
  padding-top: 1rem;
}
@media only screen and (max-width: 700px) {
    .callout-container-fluid{
        height: 100vh;
    }
    .intro-text {
        margin: 0rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .card-deck {
        margin-left: 0px;
        margin-right: 0px;
    }
    .card-deck .card {
        border: 0rem;
        margin: 0rem;
    }
}
